.t-i-cdc {
  padding-left:2.5px;
}

.t-i-du {
  height: 30px;
  align-items: center;
  position: relative;
  margin: auto;
  padding-right: 2.5px;
}

.t-i-citi {
  height: 22px;
  margin: auto;
}
.t-i-audit {
  height: 25px;
  margin: auto;
}