.s {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}

.s-header {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  color: var(--text-primary);
  padding: 20px;
}

.s-header .s-h-title {
  font-size: var(--title-size);
}

.s-header .s-h-side {
  display: flex;
  position: relative;
}

.s-header .s-side-words {
  position: absolute;
  top: 4px;
  right: 200px;
}

.s-header .s-iohk-bg {
  position: absolute;
  height: 40px;
  right: 10px;
  background-color: var(--bg-secondary);
  display: flex;
  border: var(--bg-secondary) 5px solid ;
}

.s-header .s-iohk-bg img {
  margin: auto;
  height: 100%;
}

.s-header .s-iohk-bg:hover {
  cursor: pointer;
}

.s-wrapper-space {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.s-wrapper {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: var(--bg-secondary);
}

.s-col {
  flex:1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.s-box {
  flex: 1;
  object-fit: hidden;
  max-height: 500px;
  max-width:500px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.s-card {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  display: flex;
  border-radius: 30px;
}

.s-front {
  position: absolute;
  width: 90%;
  height: 90%;
  backface-visibility: hidden;
  margin:5%;
  border-radius: 0px 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: preserve-3d;
  /* border: var(--bg-primary) 5px solid; */
}

.s-box:hover .s-card .s-front .s-words,
.s-box:hover .s-card {
  transform: rotateY(180deg);
}

.s-card-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 30px;
  opacity: 50%;
}

.s-words {
  position: absolute;
  z-index: 99999;
  margin-top:auto;
  font-size: 30px;
  color: var(--text-primary);
  width: 90%;
  padding: 15px 30px 15px 30px;
  background-color:rgb(36, 46, 43);
  text-align: center;
  opacity: 95%;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}

.s-back {
  position: absolute;
  width: 90%;
  height: 90%;
  backface-visibility: hidden;
  margin:5%;
  border-radius: 30px;
  transform: rotateY(180deg);
  display: flex;
  background-color: var(--bg-primary);
}

.s-back-container {
  color: var(--text-primary);
}

/* .s-back section .t-bottom, */
.s-back section .s-b-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-back-title {
  flex: 1;
  position: relative;
  z-index: 99999;
  margin-top:auto;
  font-size: medium;
  color: var(--text-primary);
  text-align: center;
  padding-bottom: 5%;
}

.s-back section .s-b-details .s-b-title {
  font-size: var(--post-size);
  font-weight: 600;
}


.s-back-desc {
  flex: 1;
  position: relative;
  z-index: 99999;
  margin-top:auto;
  font-size: small;
  color: var(--text-primary);
  text-align: center;
  margin:1%;
}

@media only screen and (max-width: 1000px) {
  .s {
    height: 130vh;
  }

  .s-header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 160px;
  }

  .s-header .s-h-title {
    flex: 1;
    font-size: var(--title-size);
  }

  .s-header .s-h-side {
    flex: 1;
    align-items: center;
    display: flex;
  }

  .s-wrapper {
    flex-direction: column;
  }

  .s-col {
    flex-direction: row;
  }

  .s-words {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .s {
    height: 300vh;
  }


  .s-header .s-h-side .s-side-words,
  .s-header .s-h-side {
    padding-top: 20px;
  }

  .s-wrapper {
    flex-direction: column;
  }

  .s-col {
    flex-direction: column;
  }
  
  .s-words {
    font-size: 30px;
  }

  .s-back-title {
    font-size: xx-small;
  }

  .s-back-desc {
    font-size: xx-small;
  }
}