:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: white;
  --text-secondary: aquamarine;
  --bg-primary: #282c34;
  --bg-secondary: white;
  --transition-speed: 600ms;
  --title-size: 40px;
  --middle-title-size: 30px;
  --post-size: 22px;
  --content-size: 15px;
  scroll-behavior: smooth;
}

body {
  margin-left: 5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}